<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/jeffersondb.csdl|res://*/jeffersondb.ssdl|res://*/jeffersondb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cactus.arvixe.com;initial catalog=jefferson;user id=huletl;password=uprbyncb.1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NDFC.Properties.Settings.jeffersonConnectionString"
      connectionString="Data Source=cactus.arvixe.com;Initial Catalog=jefferson;User ID=huletl;Password=uprbyncb.1"
      providerName="System.Data.SqlClient" />
  </connectionStrings></configuration>